#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display:flex;
}

.card {
  padding: 2em;
  border-radius: 1em 1em 0 0;
  background-color: #00783B;
}
