@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.otf);
}
@font-face {
  font-family: Poppins-bold;
  src: url(./assets/fonts/Poppins-Bold.otf);
}
@font-face {
  font-family: Poppins-italic;
  src: url(./assets/fonts/Poppins-Italic.otf);
}

#root {
  margin: 0 auto;
}

.App {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  height:100%;
}

.Header {
  color:#F67969;
  font-family: Poppins-bold;
  font-size: .7em;
  width:100%;
  box-sizing: border-box;
  padding:0 .5em;
}
h1 {
  margin-bottom:0;
}

hr {
  height:2px;
  border:none;
  background-image: linear-gradient(90deg, transparent,#B2BD8E, transparent);
}

h1,h2,h3 {
  text-align: center;
}

.SubHeader {
  color:#00783B;
  font-family: Poppins-bold;
}

.card {
  padding: 1em;
  border-radius: 1em 1em 0 0;
  background-color: #00783B;
  height:100%;
}

.card-title {
  background-color: #F67969;
  color:#F4E0B7;
  border-radius: 1em;
  padding:.5em .3em;
  box-sizing: border-box;
}

.card h3 {
  margin:0;
}
